<!DOCTYPE html>
<html>
<head>
	<title>interface index page</title>
</head>
<body>
	<h1>健康小屋上传数据接口文档</h1>
	<h2>点击进去可查看详细文档</h2>
	<p>上传居民数据 <a href="/dataplatform/api/uploadResident">uploadResident</a></p>
	<p>上传血压数据 <a href="/dataplatform/api/uploadBloodPresure">uploadBloodPresure</a></p>
	<p>上传血糖数据 <a href="/dataplatform/api/uploadBloodSugar">uploadBloodSugar</a></p>
	<p>上传人体成分数据 <a href="/dataplatform/api/uploadBodyComposion">uploadBodyComposion</a></p>
	<p>上传骨密度数据 <a href="/dataplatform/api/uploadBoneDensity">uploadBoneDensity</a></p>
	<p>上传三围数据 <a href="/dataplatform/api/uploadBWH">uploadBWH</a></p>
	<p>上传心电数据 <a href="/dataplatform/api/uploadEcg">uploadEcg</a></p>
	<p>上传电子视力数据 <a href="/dataplatform/api/uploadElectronicVision">uploadElectronicVision</a></p>
	<p>上传身高体重数据 <a href="/dataplatform/api/uploadHeighWeight">uploadHeighWeight</a></p>
	<p>上传肺功能数据 <a href="/dataplatform/api/uploadLung">uploadLung</a></p>
	<p>POST的数据原样输出 <a href="/out">out</a></p>

	<p>Get数据中文的0-9 <a href="/get_zh/0">/get_zh/0</a></p>
	<p>Get数据英文的0-9 <a href="/get_en/0">/get_en/0</a></p>
	<p>Get所有项目的最近数据中文的 <a href="/halthroom/getalldata_zh">/halthroom/getalldata_zh</a></p>
	<p>Get所有项目的最近数据英文的 <a href="/halthroom/getalldata_en">/halthroom/getalldata_en</a></p>

	<p>Get一个居民的最近数据英文的 <a href="/data_en/residentEMPI">/data_en/residentEMPI</a></p>
	<p>Get一个居民的最近数据中文的 <a href="/data_zh/residentEMPI">/data_zh/residentEMPI</a></p>
</body>
</html>
